<div class="promotor">
    <form action="">
        <label for=""> Nome  </label>
        <input name = 'nome'type="text" [(ngModel)] ='promotor.nome' placeholder="Digite o nome do promotor">
        
        <label for=""> Artistas </label>
        <input name = 'artistas'type="text" [(ngModel)] ='promotor.artistas' placeholder="Digite o nome dos artistas">
        
        
        <label for=""> Telefone </label>
        <input name = 'telefone'type="text" [(ngModel)] ='promotor.telefone' placeholder="Digite o n° do telefone">
        
        <label for=""> Estrutura </label>
        <input name = 'Estrutura'type="text" [(ngModel)] ='promotor.Estrutura' placeholder="Digite qual a estrutura">
        
        
        <div class = 'button' >
            <button> SALVAR</button>
            <button> CANCELAR</button>

        </div>

    </form>
</div>
