<div class="conteudo">

    <div class="nav">
        <div>
        <img src="../../../assets/icons/beer.png" alt="bebida">
        <p routerLink = '/bar-list'>BAR</p>
    </div>
    <div>
        <img src="../../../assets/icons/cifrao.png" alt="">
        <p routerLink = '/caixa-list'>CAIXA</p>
    </div>
    <div>
        <img src="../../../assets/icons/ingresso.png" alt="">
        <p routerLink = '/ingresso-list'>INGRESSO</p>
    </div>
    <div>
        <img src="../../../assets/icons/product.png" alt="">
        <p routerLink = '/produtos-list'>PRODUTOS</p>
    </div>
    <div>
        <img src="../../../assets/icons/promotor.png" alt="">
        <p routerLink = '/promotor-list'>PROMOTOR</p>
    </div>
    <div>
        <img src="../../../assets/icons/portaria.png" alt="">
        <p routerLink = '/portaria-list'>PORTARIA</p>
    </div>
</div>
</div>