.produto{
    display: grid;
    width: 60%;
    font-size: 18pt;
    padding: 10px;
    margin: 100px auto;
    border: solid 1px;
}

.produto label{
    display: block;
    margin: 5px 0;
}
.produto input{
    width: 90%;
    font-size: 18pt;
    border: none;
    border-bottom: dotted 1px;
    background: none;
}
.produto select{
    margin: 10px 0;
    font-size: 18pt;
    width: 90%;
    display: block;
}

.produto .button {
    display: flex;
    justify-content: center;
}
.button button{
    margin: 10px;
    font-size: 15pt;
}