<div class="portaria">
    <form action="">
        <label for=""> Nome  </label>
        <input name = 'nome'type="text"[(ngModel)]= 'portaria.nome' placeholder="Digite o nome da portaria">
        
        <label for=""> RG </label>
        <input name = 'RG'type="text"[(ngModel)]= 'portaria.RG' placeholder="Digite o RG do cliente">
        
        
        <label for=""> Ingresso </label>
        <input name = 'ingresso_valido'type="text"[(ngModel)]= 'portaria.ingresso_valido' placeholder="Digite o n° do ingresso">
        
        <label for=""> Valido </label>
        <input name = 'validado'type="text"[(ngModel)]= 'portaria.validado' placeholder="Digite se é valido">
        
        
        <div class = 'button' >
            <button> SALVAR</button>
            <button> CANCELAR</button>

        </div>

    </form>
</div>
